/* global colors */
:root {
    --gray: #2e2f42;
    --navy-blue: #434455;
    --iris: #4d5ae5;
    --conrflower: #e7e9Fc;
    --white: #ffffff;
    --nav-blue: #404bbf;
    --main-bg-color: #ffffff;
}

body{
    font-family: Roboto, sans-serif;
    color: var(--navy-blue);
    background-color: var(--white);
}

/* logo */
.logo-style {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

/* first list */
.sub{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--gray);
}
/* default class style */
.link {
    text-decoration: none;
}
/* color style for WEB logo */
.hd-studio {
    color: var(--gray);
}
/* default list class for nav */
.list{
    list-style: none;
}
.link:hover, :focus, :active {
    color: var(--nav-blue);
}
/* address */
.remove {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5;
}

.add{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
}

.add:hover {
       color:var(--nav-blue)  
}

.add:focus{
    color: var(--nav-blue)
}
/* --------------- END OF NAV ----------------*/
/* First Section */
.first{
    background-color: var(--gray);
}
.first-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}
/* button */
.main-button{
    background-color: var(--iris);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
}
.main-button:hover, :focus {
    background-color: var(--nav-blue);
}
/* --------------- END OF FIRST SEC ----------------*/
/* Second Section */
.second-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--gray);
}
.second-p{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
}
/* --------------- END OF 2ND SEC ----------------*/
/* Third Section */
.thirdsec-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--gray);
}
/* --------------- END OF 3RD SEC ----------------*/
/* 4th Sec */
.fourth {
    background-color: var(--white);
}
.fourthsec {
    background-color: #f4f4fd;
}
.fourthsec-title{
    font-size: 36px;
    line-height: 1.11;
    text-align:center;
    letter-spacing:0.02em;
    text-transform:capitalize;
    color: var(--gray);
}
/* --------------- END OF 4th SEC ----------------*/