/* global colors */
:root{
    --gray: #2e2f42;
    --navy-blue: #434455;
    --iris: #4d5ae5;
    --conrflower: #e7e9Fc;
    --white: #ffffff;
}

body {
        font-family: Roboto, sans-serif;
        color: var(--navy-blue);
        background-color: var(--white);
        max-width: 1440px;
        margin: 0 auto;
    }
.link {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform:uppercase;
    line-height: 1.17;
    font-style: normal; /* removes underline on links */
    color: var(--iris);
}
/*Higlighting word "WEB" on logo */
.link span {
    color: var(--gray);
}
.default-list {
    list-style: none; /* Remove default list style */
    font-style: normal;
}
/* default bg color for header */
header {
    background-color: var(--white) ;
}

li {
    list-style: none;
}

.nav{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray);
}

/* Hover effect for the first link in the list */
.nav:hover {
    color: var(--iris);
}
.nav:focus {
    color: var(--iris);
}
/* Hover effect for the first link in the list */
.link-first-item:hover {
    color: var(--iris);
}


/* section 1 styling */
.section1{
    background-color: var(--navy-blue);
    color: var(--white);
}
    /*----------------------main button----------------------*/
.main-button {
    background-color: var(--iris);
    /* Background color */
    color: var(--white);
    cursor: pointer;
   /* font style */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: inline-flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;

}

/* Hover effect for the button */
.main-button:hover {
    background-color: #4D5AE560;
    /* Change the background color on hover */
    color: var(--white);
}
    /*----------------------Portfolio buttons----------------------*/

     .portfolio-buttons{
        background-color: var(--conrflower);
        /* Background color */
        color: var(--navy-blue);
        cursor: pointer;
        /* font style */
        font-family: Roboto , sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    
    }

    /* Hover effect for the button */
    .portfolio-buttons:hover{
        background-color: var(--iris);
        /* Change the background color on hover */
        color: var(--white);
}
    /*----------------------sections----------------------*/

.sention2{
    background: color: var(--WHITE);
}
/* h3{
   font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
} */

p {
    font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
}
/*----------------------footer----------------------*/
footer {
    background-color: var(--navy-blue);
        color: var(--white);
}
.footer-link{
    color: var(--white);
    text-decoration: none;
        font-family: Raleway, sans-serif;
        font-weight: 500;
}
/*----------------------main images----------------------*/
.section3-img {
    width: 360px;
    height: 300px;
}
.section4-img {
    width: 264px;
    height: 260px;
}