/* global colors */
:root{
    --NAVY-BLUE: #434455;
    --IRIS: #4D5AE5;
    --CORNFLOWER: #E7E9FC;
    --WHITE: #FFFFFF;
}
/* @font-face {
    font-family: 'roboto';
        font-style: normal;
        src: url('https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2') format('woff2');
}
@font-face {
    font-family: raleway;
        font-style: normal;
        src: url('https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2') format('woff2'); */

/* global style for body */
body {
    font-family: roboto, sans-serif;
    color:var(--NAVY-BLUE)
}
/* removes underline on links */
.link{
    text-decoration: none;
    font-style: normal;
    color: var(--NAVY-BLUE);
}
.link:hover{
    color:var(--IRIS);
}
/* removes dots on ul */
ul {
    list-style-type: none;
}
/* remove italic style from address element */
address {
    font-style: normal;
}
/*Higlighting word "WEB" on logo */
.web{
    color: var(--IRIS);
}
/* default style for logo */
.custom-link {
    text-decoration: none;
    font-family: raleway , sans-serif;
    font-weight: 800;
    color: var(--NAVY-BLUE);
}
/* default bg color for header */
header {
    background-color: var(--WHITE) ;
}
/* section 1 styling */
.section1{
    background-color: var(--NAVY-BLUE);
    color: var(--WHITE);
}
    /*----------------------main button----------------------*/
.main-button {
    background-color: var(--IRIS);
    /* Background color */
    color: var(--WHITE);
    cursor: pointer;
   /* font style */
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.50;
}

/* Hover effect for the button */
.main-button:hover {
    background-color: #4D5AE560;
    /* Change the background color on hover */
    color: var(--WHITE);
}
    /*----------------------Portfolio buttons----------------------*/

     .portfolio-buttons{
        background-color: var(--CORNFLOWER);
        /* Background color */
        color: var(--NAVY-BLUE);
        cursor: pointer;
        /* font style */
        font-family: roboto , sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.50;
    }

    /* Hover effect for the button */
    .portfolio-buttons:hover{
        background-color: var(--IRIS);
        /* Change the background color on hover */
        color: var(--WHITE);
}
    /*----------------------sections----------------------*/

.sention2{
    background: color: var(--WHITE);
}
/* h3{
   font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
} */

p {
    font-family: roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
/*----------------------footer----------------------*/
footer {
    background-color: var(--NAVY-BLUE);
        color: var(--WHITE);
}
.footer-link{
    color: var(--WHITE);
    text-decoration: none;
        font-family: raleway, sans-serif;
        font-weight: 800;
}
/*----------------------main images----------------------*/
.section3-img {
    width: 360px;
    height: 300px;
}
.section4-img {
    width: 264px;
    height: 260px;
}